h1 {
  font-size: 45px;
  font-weight: bold;
}
h4 {
  text-transform: uppercase;
  border-bottom: solid;
  margin-top: 30px;
  padding: 10px;
}
h2 {
  border-bottom: solid;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  overflow: auto;
}
body {
  background-color: grey;
}
@media(min-width: 600px) {
.right-column {
  background-color: #f7f7f7;
  float: right;
  width: 30%;
  padding-left: 10px;
  }
.left-column {
    float: left;
    width: 70%;
    padding-right: 10px;
}
* {
  box-sizing: border-box;
}
}
